body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: white;
    color: #333;
}
.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
nav {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    position: sticky; 
    top: 0;
    z-index: 1000; 
 }

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-menu a:hover {
    background-color: #45a049;
    border-radius: 5px;
}

.product-container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-image, .product-detail {
    width: 48%;
}

.product-image img {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
}

.promo-code {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
}


.related-product {
    position: relative;
    width: 23%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    text-align: center;
}

.related-product img {
    width: 80%;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.related-product-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f0f0f0;
    color: black;
    width: 100%;
    padding: 5px;
    display: none;
    font-size: 14px;
}

.related-product:hover .related-product-name {
    display: block;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    width: 100%;

}  

.about-container h1, .about-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.main-image {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-caption {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: none;
}

.main-image:hover .image-caption {
    display: block;
}

.team-members {
    display: flex;
    justify-content: space-between;
}

.team-member {
    text-align: center;
    width: 30%;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 0;
    font-size: 18px;
}

